@font-face {
    font-family: Inter;
    src: url('assets/fonts/Inter.ttf');
}

body {
    margin: 0;
    font-family: Inter, Arial, 'Helvetica Neue', Helvetica, Tahoma, 'Microsoft Sans Serif', sans-serif;
    font-size: 11pt;
}

ul#lo-link-list,
ol#lo-link-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    list-style-type: none;
    padding: 0;
}

ul#lo-link-list > li,
ol#lo-link-list > li {
    border: solid 1px #000;
    text-align: center;
    margin: 2pt;
    padding: 4pt 2pt;
}

ul#lo-link-list > li,
ul#lo-link-list > li > *,
ol#lo-link-list > li,
ol#lo-link-list > li > * {
    display: inline-block;
    text-align: center;
    width: 15vw;
    min-width: 256pt;
}

ul#lo-link-list > li a:link,
ol#lo-link-list > li a:link {
    color: inherit;
    text-decoration: inherit;
}

ul#lo-link-list > li a:visited,
ol#lo-link-list > li a:visited,
ul#lo-link-list > li a:hover,
ol#lo-link-list > li a:hover,
ul#lo-link-list > li a:active,
ol#lo-link-list > li a:active {
    color: inherit;
}