@font-face {
    font-family: Inter;
    src: url('assets/fonts/Inter.ttf');
}

@font-face {
    font-family: Overpass;
    src: url('assets/fonts/Overpass.ttf');
}

@font-face {
    font-family: Overpass;
    font-style: italic;
    src: url('assets/fonts/Overpass-Italic.ttf');
}

body {
    background-color: #226fea;
    color: #ffffff;
    margin: auto;
    font-family: Overpass, Arial, 'Helvetica Neue', Helvetica, Tahoma, 'Microsoft Sans Serif', sans-serif;
    font-size: 11pt;
    width: 75vw;
    min-width: 768px;
}

/* header elements */

header#sp-header {

}

header#sp-header > h1#sp-site-name {
    font-size: 16pt;
    font-weight: 400;
    padding: 4pt 0;
    text-transform: uppercase;
}

section#sp-links-sec {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

section#sp-links-sec > * {
    text-align: center;
    margin: 2pt 4pt;
    padding: 2pt 5pt;
}

section#sp-links-sec > *:not(.lo-nor) {
    border-radius: 15px;
}

section#sp-links-sec > a:link {
    border: solid 1px #ffffff;
    color: #ffffff;
    font-weight: 500;
    text-decoration: inherit;
    text-transform: uppercase;
    padding: 0.5em 1em 0.25em;
}

section#sp-links-sec > a:visited {
    color: #ffffff;
}

section#sp-links-sec > a:hover {
    box-shadow: 0 3px 7px rgb(0 0 0 / 0.5);
}

section#sp-links-sec > a:active {
    border: solid 1px #d1d2d1;
    color: #cccccc;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.9);
}

section#sp-links-sec > a {
    transition: box-shadow 200ms ease, color 100ms ease-in, border 100ms ease-in;
}
