@font-face {
    font-family: Inter;
    src: url('assets/fonts/Inter.ttf');
}

@font-face {
    font-family: Overpass;
    src: url('assets/fonts/Overpass.ttf');
}

@font-face {
    font-family: Overpass;
    font-style: italic;
    src: url('assets/fonts/Overpass-Italic.ttf');
}

@media (prefers-color-scheme: dark) {
    :root {
        --lo-background: #3A3029;
        --lo-foreground: #BFB3AA;
        --lo-medium: #827164;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --lo-background: #BFB3AA;
        --lo-foreground: #3A3029;
        --lo-medium: #827164;
    }
}

@media screen and (max-width: 767px) {
    body {
        width: 100%;
    }

    body > header#lo-header,
    body > main {
        padding: 4pt 2vw;
    }

    body > nav#lo-navigation > ul {
        padding: 0 12pt;
    }
}

/* device proportion standard 2 */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        width: 95vw;
    }
}

/* device proportion standard 3 */

@media screen and (min-width: 1024px) {
    body {
        width: 1024px;
    }
}

/* all computers */

@media screen and (min-width: 768px) {
    body > header#lo-header,
    body > main {
        padding: 4pt 0;
    }

    body > nav#lo-navigation {
        border-radius: 5px;
    }
}

/* universal styles */

body {
    background-color: var(--lo-background);
    color: var(--lo-foreground);
    margin: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, 'Microsoft Sans Serif', sans-serif;
    font-size: 11pt;
    transition: width 250ms ease;
}

/* header elements */

header#lo-header > h1,
h1#lo-site-name {
    font-size: 30pt;
    font-weight: 500;
    padding: 4pt 0;
    margin: 0;
}

header#lo-header > h1::before,
h1#lo-site-name::before {
    display: block;
    content: " ";
    background-color: var(--lo-foreground);
    width: 120px;
    height: 0.167em;
    margin-bottom: 6pt;
}

nav#lo-navigation {
    background-color: var(--lo-medium);
    margin: 2pt -4pt;
    padding: 2pt 0;
}

nav#lo-navigation > ul {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 6pt;
}

nav#lo-navigation > ul > li {
    margin: 0 4pt;
}

nav#lo-navigation > ul > li > * {
    text-align: center;
    padding: 2pt 4pt;
}

nav#lo-navigation > ul > li > a:link {
    color: var(--lo-foreground);
    font-weight: 500;
    text-decoration: inherit;
}

nav#lo-navigation > ul > li > a:visited {
    color: var(--lo-foreground);
}

nav#lo-navigation > ul > li > a:hover {
    box-shadow: 0 3px 7px rgb(0 0 0 / 0.5);
}

nav#lo-navigation > ul > li > a:active {
    color: var(--lo-foreground);
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.9);
}

nav#lo-navigation > ul > li > a {
    transition: box-shadow 200ms ease;
}

ul.lo-no-style {
    list-style-type: none;
    padding: 0;
}
